@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  
}

.main {
  background: url('https://wallpaperswide.com/download/new_matrix-wallpaper-1366x768.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
  width: 100%;
  color: white;
  margin: 0 0 0 0;
  
}



.main h1 {
  font-size: 60px;
  margin-top: 230px;
  text-align: center;
}

.main p {
 text-align: center;
  font-size: 20px
}

.mais h1 {
  background: #8B0000;
  border-radius: 32px 5px 32px 5px;
  width: 521px;
  text-align: center;
  margin: 0 0 0 370px;
  color: white;
}

.card {
  height: 400px;
  width: 350px;
  border-radius: 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  margin-top: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
  align-content: center; 
  align-items: stretch; 
}

.contact {
  text-align: center;
}

.contact dt {
  font-size: 20px;
}

.contact dd {
  font-size: 15px;
  margin-left: -10px;
}

@media screen and (max-width: 525px) {
  .main {
    height: 850px;
    margin: 0 0 0 0;
    width: 103%;
  }

  .main h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
  }

  .main p {
    font-size: 20px;
    text-align: center;
  }

  .mais h1 {
    margin: 0 0 0 0;
    width: 300px;
    font-size: 40px;
    
    margin-left: 10px;
  }

  .card {
    width: 250px;
  }
}
